In [34]:
import yaml
import pandas as pd
import numpy as np
from typing import Any, Dict, List
import logging
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

In [13]:
file_name = "/Users/wen/Desktop/AD/boston_house_prices/data/01_raw/boston_house_prices.csv"

In [18]:
raw_data = pd.read_csv(file_name)

In [7]:
with open("/Users/wen/Desktop/AD/boston_house_prices/conf/base/parameters.yml") as stream:
    param = yaml.load(stream)

/Users/wen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.

In [10]:
isinstance(param['columns_to_be_extracted'],list)

True

In [19]:
def reScaling(data: pd.DataFrame, columns_to_be_extracted: List[str]) -> pd.DataFrame:
    if not isinstance(columns_to_be_extracted, list):
        raise ValueError("Error when extracting column names form yaml!")
    data = data[columns_to_be_extracted].sample(frac=1).reset_index(drop=True)
    normalize = lambda df: (df-df.mean())/df.std()
    data.iloc[:,:-1] = normalize(data.iloc[:,:-1])
    return data

In [20]:
data = reScaling(raw_data, param['columns_to_be_extracted'])

In [27]:
def dataSplit(data: pd.DataFrame, train_test_split_ratio:float) -> Dict[str,Any]:
    n=data.shape[0]
    test_n = int(n * train_test_split_ratio)
    train_data = data.iloc[test_n:, :].reset_index(drop=True)
    test_data = data.iloc[:test_n, :].reset_index(drop=True)
    
    train_data_x = train_data.iloc[:, :-1]
    train_data_y = train_data.iloc[:, -1]
    test_data_x = test_data.iloc[:, :-1]
    test_data_y = test_data.iloc[:, -1]
    
    return dict(
        train_x = train_data_x,
        train_y = train_data_y,
        test_x = test_data_x,
        test_y = test_data_y
    )

In [28]:
splited = dataSplit(data, 0.2)

In [29]:
splited.keys()

dict_keys(['train_x', 'train_y', 'test_x', 'test_y'])

In [30]:
splited['train_x']

,CRIM,INDUS,NOX,RM,AGE,DIS,TAX,PTRATIO,B,LSTAT
0,-0.395001,-0.079701,-0.566935,-0.146074,-0.929874,0.071405,-0.778684,0.066730,0.404798,-0.445741
1,-0.414822,-1.193347,-1.093352,0.441728,-1.661698,0.762715,-0.927019,-0.071842,0.426705,-1.166922
2,-0.142512,1.230727,2.729645,-1.933677,0.963630,-1.108530,-0.031074,-1.734701,0.383767,2.363365
3,-0.413462,-1.126295,-0.566935,0.171310,0.189176,-0.333827,-0.820218,-0.302794,0.403922,-0.623586
4,-0.416511,-1.445520,-1.309096,1.372534,-1.658145,2.327746,-1.081288,-0.256604,0.429991,-1.098305
...,...,...,...,...,...,...,...,...,...,...
400,4.043145,1.014995,1.193543,-1.183624,1.116390,-1.094853,1.529413,0.805778,0.440616,2.511803
401,-0.375089,-0.180279,-0.092296,0.401877,0.665217,-0.091533,-0.618482,-0.025651,0.427362,-0.472348
402,1.261465,1.014995,0.365083,0.807503,1.116390,-1.106298,1.529413,0.805778,-1.942213,0.998022
403,-0.204727,1.230727,0.434121,2.159591,1.052444,-0.833136,-0.031074,-1.734701,0.360765,-1.503007
404,0.724658,1.014995,1.003687,0.724955,1.073759,-1.157350,1.529413,0.805778,0.440616,1.202473

In [31]:
splited['train_y']

0      25.0
1      30.8
2      14.6
3      22.0
4      35.4
       ...
400     5.0
401    23.8
402    27.5
403    50.0
404    13.3
Name: MEDV, Length: 405, dtype: float64

In [39]:
now = datetime.now()
now_time = datetime.strftime(now,'%m/%d/%Y %H:%M:%S')

In [40]:
now_time

'03/19/2020 12:20:53'